/* purgecss start ignore */

@tailwind base;
@tailwind components;

/* purgecss end ignore */

@tailwind utilities;

@font-face {
  font-family: 'Samim';
  src: url("https://fdn.fontcdn.ir/Fonts/Samim/6eb6490bef1e9c660a4c30ba4eac923e82b45ba5df3221b6a9ec16686f4f1ec5.eot");
  src: url("https://fdn.fontcdn.ir/Fonts/Samim/6eb6490bef1e9c660a4c30ba4eac923e82b45ba5df3221b6a9ec16686f4f1ec5.eot?#iefix") format("embedded-opentype"),
       url("https://fdn.fontcdn.ir/Fonts/Samim/b45379592d11b2bb9135eb78cea8b54220d89b26d67fb19bae5d15a540d32556.woff2") format("woff2"),
       url("https://fdn.fontcdn.ir/Fonts/Samim/538ba3ff4633df61675f383136e31bca46f0b86da394d3d61c18a1b5a81182e2.woff") format("woff"),
       url("https://fdn.fontcdn.ir/Fonts/Samim/05c7163a85f534d4162eb9cd65a0b9650ee55d754e7000736e5e297b774bb59c.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Samim;
  font-size: 16px;
}
p {
  margin: 1rem 0;
}